---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Portland,%20OR&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Portland, OR, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.65248,
                          "lng" : -122.4718489
                       },
                       "southwest" : {
                          "lat" : 45.432393,
                          "lng" : -122.8369951
                       }
                    },
                    "location" : {
                       "lat" : 45.5230622,
                       "lng" : -122.6764816
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.65248,
                          "lng" : -122.4718489
                       },
                       "southwest" : {
                          "lat" : 45.432393,
                          "lng" : -122.8369951
                       }
                    }
                 },
                 "place_id" : "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 28 Sep 2016 23:37:01 GMT
recorded_with: VCR 3.0.3
